/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Author : Task Ventures
	Copyright 2020

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Header
    3. Home Section
    4. About
    5. Portfolio
    6. Portfolio Detail
    7. Team
    8. Blog
    9. Clients
    10. Contact
    11. Footer
    12. Responsive


/*------------------------ 1 Body and Core Css ------------------------*/		

body{
	font-family: 'Rajdhani', sans-serif;
}
.img1 {
    width:80px;
    height:80px;
    background: url() no-repeat scroll 0 0;
  }
html{
	height: 100%;
}

::selection {
  background: #000; 
  color: #fff;
}

@-moz-document url-prefix() {
body {
font-weight: lighter!important;
}
}

::-moz-selection {
  background: #000; 
  color: #fff;
}

/* Margins */

.top_30{
    margin-top: 30px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.top_120{
    margin-top: 120px;
}

.bottom_30{
    margin-bottom: 30px;
}

.bottom_60{
    margin-bottom: 60px;
}

.bottom_120{
    margin-bottom: 120px;
}

.line{
    height: 1px;
}

/* Typoghraphy */ 



b{
    color: #000;
    font-weight: 600;
}

h2{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -3px;
}

h3{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
}

h4{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
}

h5{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 38px;
}

h6{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
}


/* Buttons */

.more{
    color: #000;
    height: 48px;
    display: block;
    position: relative;
    transition: all ease 0.6s;
    font-size: 15px;
}

.more:hover{
    transition: all ease 0.4s;
    padding-left: 30px;
}


/*------------------------ 2 Header ------------------------*/

header .navbar .send-mail{
    cursor: pointer;
    text-align: center;
    margin: 27px 0px 0 0;
    padding-left: 0;
}

header .navbar .send-mail:hover{
    color: #FF790C;
}


/** Navigation **/

header .navbar.full-nav .rspbtn button{
    color: #fff;
}

@media (min-width:992px) {
    
    header{
        position: absolute;
        width: 100%;
    }
    
    header .navbar nav {
        display: block!important;
        float: right;
    }
    
    header .navbar.full-nav nav ul li a {
        color: #fff;
        padding: 24px 20px 18px 20px;
        font-size: 18px;
    }
    
    header .navbar.full-nav nav ul li:hover ul.dropdown-menu li a {
        color: #000;
    }
    
    header .navbar nav ul li a:hover,
    header .navbar nav ul li a:active,
    header .navbar nav ul li a:focus {
        background: none;
        
    }
    
    header .navbar nav ul li.dropdown .dropdown-menu li a:hover {
        background: #efefef;
   
    }
    
    header .navbar nav > ul > li.dropdown .dropdown-menu {
        -webkit-transition: -webkit-transform .2s ease-out;
        -moz-transition: -moz-transform .2s ease-out;
        transition: transform .2s ease-out;
        transform: translate3d(0, 25px, 0);
        font-family: Poppins, sans-serif;
        background-color: #fff;
        font-weight: 600;
        font-size: 13px;
        top: -10000px;
        display: block;
        opacity: 0;
        right: auto;
        border: 0;
        box-shadow: 0 3px 45px rgba(0, 0, 0, .09);
        -webkit-box-shadow: 0 3px 45px rgba(0, 0, 0, .09);
        -moz-box-shadow: 0 3px 45px rgba(0, 0, 0, .09);
        margin: -3px 0 0;
        min-width: 200px;
        padding: 3px;
        text-align: left;
        border-radius: 2px;
    }
    
    header .navbar nav > ul > li.dropdown .dropdown-menu a {
        padding: 8px 10px;
        font-size: 13px;
    }
    
    header .navbar nav > ul > li.dropdown .dropdown-menu a {
        padding: 8px 10px;
        font-size: 13px;
    }
    
    
/* Menu Hover Animations */

    header .navbar nav > ul > li.dropdown:hover > .dropdown-menu {
        transform: translate3d(0, 0, 0);
        margin-top: -3px;
        display: block;
        opacity: 1;
        top: auto;
    }    

    header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu {
        position: relative;
    }
    
    header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
        -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
        -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transform: translate3d(20px, 0, 0);
        right: 100%;
        opacity: 0;
        display: block;
        left: 100%;
        margin-top: -10px;
        margin-left: -22px;
    }
    
    header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu:hover > .dropdown-menu {
        top: 7px;
        opacity: 1;
    }
    header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
        font-family: FontAwesome;
        content: "\f105";
        display: block;
        float: right;
        height: 0;
        margin-right: -10px;
        margin-top: 7px;
        position: absolute;
        right: 22px;
        top: 3px;
        width: 0;
        font-size: 10px;
        color: #b7b7b7;
    }
}


/* Menu Responsive */

@media (max-width: 991px) {
    
    header{
        position: absolute;
        width: 100%;
    }
    
     header .navbar.full-nav nav {
        left: 8px;
        right: 14px;
        top: 2px;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 20px 45px rgba(0, 0, 0, .08);
    }
    
    header .navbar nav ul {
        position: relative;
        width: 100%;
        box-shadow: none;
        border: 0;
        margin-top: -3px;
        border-radius: 0;
        padding: 0;
    }
    
    header .navbar nav ul li {
        float: none;
        margin: 0;
        border-bottom: 1px solid #dfdfdf;
        margin-left: 10px;
    }
    
    header .navbar nav ul li ul {
        border-top: 1px solid #dfdfdf;
    }
    
    header .navbar nav ul li a {
        font-size: 13px;
        border-radius: 0;
        display: inline-block;
        width: 100%;
        padding: 12px 15px;
        color: #000;
    }
    
     header nav > ul > li.dropdown > a:after {
        font-family: FontAwesome;
        content: "\f107";
        display: block;
        float: right;
        height: 0;
        margin: 2px 7px;
        right: 22px;
        top: 3px;
        width: 0;
        font-size: 12px;
        color: #000;
    }
 
    header nav > ul > li.dropdown li.dropdown-submenu > a:after {
        font-family: FontAwesome;
        content: "\f107";
        display: block;
        float: right;
        height: 0;
        margin-top:0px;
        right: 22px;
        top: 3px;
        width: 0;
        font-size: 12px;
        color: #000;
    }
    
    header .navbar nav ul li a:hover,
    header .navbar nav ul li a:focus{
        background: none;
    }
    
     header .navbar nav ul li.dropdown .dropdown-menu li a {
        padding: 10px 20px;
    }
    
    .full-nav .rspbtn button{
        background: none;
        border: 0;
        padding: 23px 12px;
        text-align: right;
        float: right;
    }
    
}


/*------------------------ 3 Home Pages ------------------------*/
 a{
    color: black;
  }

.home.type-3 {
    background: url('../images/index/Banner.jpg') bottom center;
    width: 100%;
    display: table;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.home.type-3:before{    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home-content{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    z-index: 2;
    position: relative;
    margin-top: -79px;
}

#scene{
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: -10px; 
    z-index: 100;   
    
}

.home-headline{
    padding: 60px 0 80px;
}

.home-headline p{
    text-align: center;
    padding: 20px 0;
    
}

.cloud-header{
    background-image: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    overflow: hidden;
    width: 100%;
    display: table;
    z-index: -1;
    position: relative;
    margin-bottom: -139px;
    top: 0;
    background-color: #000;
}


.cloud-header.full-nav{
    background-image: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    overflow: hidden;
    width: 100%;
    display: table;
    z-index: -1;
    position: relative;
    margin-bottom: -139px;
    top: 0;
}
.cloud-header.full-nav1{
    background-image: url(https://source.unsplash.com/random);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    overflow: hidden;
    width: 100%;
    display: table;
    z-index: -1;
    position: relative;
    margin-bottom: -139px;
    top: 0;
}
/* Agency Home */

.work-areas{
    width: 100%;
    display: inline-block!important;
}


/*------------------------ 4 About ------------------------*/

.about-font
{
font-size:18px;
font-weight: 400;
}

.about.type-1 .about-image img:before{
    background: #e4e4e4; 
}

.about.type-1 .about-image img{
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.14);
    margin-top: -15%;
    margin-left: calc(15% - 15px);
}
.about_form
{
      width: 49.5%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.about_form1
{
  background-color: #FF790C;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 10px;
  border-color:#FF790C ;
  border: none;
  width: 40%;
  display: block;
}
.about_form1:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border-color: black ;
}
.about_button
{
  background-color: #FF790C;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  border-color:#FF790C ;
  border: none;
  width: 20%;
  text-align: center;
  display: block;
}
.about_button:hover {background-color: #914c0bb4}

.about_button:active {
  background-color: #914c0bb4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.about_form2
{
      width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.container1 {
    position: relative;
  }
  .text-block2 {
    position: absolute;
    bottom: 80px;
    right: 300px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-block3 {
    position: absolute;
    bottom: 50px;
    right: 150px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.content {
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 44%;
}


.page-title h5{
    padding-bottom: 20px;
}

.page-title span{
    font-size: 15px;
    color: #b3b3b3;
    letter-spacing: 3px;
    margin-bottom: 5px;
    display: block;
}

.page-title.sub h5{
    font-size: 26px;
}

.page-title.sub span{
    font-size: 14px;
    margin-bottom: 0;
}

.about.type-1 .about-text p{
    margin-top: 60px;
    padding-left: 60px;
}
/* Style the buttons */

/* Type 2 */


/* Vertiqal */

.about.type-1.vertiqal .about-text p {
    margin-top: 20px;
    padding-left: 0px;
}


/*------------------------ 5 Portfolio ------------------------*/


.single-item figure img {
    width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}

/* Type 1 */

.portfolio.type-1{
    padding-bottom: 90px;
}

.portfolio.type-1 .single-item figure figcaption {
    text-align: center;
    padding: 25px 0;
}

.portfolio.type-1 .single-item figure figcaption h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: all ease 0.3s;
    letter-spacing: -0.3px; 
}

.portfolio.type-1 .single-item figure figcaption p {
    font-size: 10px;
    color: #b5b5b5;
}

.portfolio.type-1 .single-item figure img {
    transition: all ease 0.3s;
}

.portfolio.type-1 .single-item:hover > figure img {
    opacity: 0.6;
    transition: all ease 0.3s;
}

.portfolio.type-1 .single-item:hover > figure h3{
    transition: all ease 0.3s;
}
.filterDiv {
    line-height: 100px;
    text-align: center;
    display: none;
    margin: 4px;
    margin-bottom: 15px;
    border:3px solid black;
  }
  
  .show {
    display: block;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #FF790C;
    color: white;
  }

/* Type 2 */


/* Type 3 */
.div_hover:hover {
    background-color:white ; 
    }


/* Portfolio Filter Type 2 */

.portfolio_filter.type-2 ul{
    margin-top: 36px;
}

.portfolio_filter.type-2 ul li{
    font-size: 13px;
    color: #000000;
    margin-left: 25px;
    font-weight: 300;
    cursor: pointer;
    float: right;
}

.portfolio_filter.type-2 ul li:hover{
    color: rgb(255, 121, 12);
    transition: all ease 0.3s;
}


/*------------------------ 6 Portfolio Detail ------------------------*/



/*------------------------ 7 Team ------------------------*/



/*------------------------ 8 Blog ------------------------*/


.blog.type-1 .blog-big .image img{
    width: 100%;
}

.blog.type-1 .blog-big .image{
    position: relative;
    display: table;
    width: 100%;
}

.blog.type-1 .blog-big .image .icon{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    top: 50%;
    margin-top: -20px;
}

.blog.type-1 .blog-big:hover .image .icon{
    opacity: 0.9;
    transition: all ease 0.3s;
}

.blog.type-1 .blog-big .image .icon i{
    color: #fff;
    padding: 17px 0 16px;
    min-width: 50px;
    border-radius: 50px;
    text-align: center;
    transition: all ease 0.3s;
    text-align: center;
}

.blog.type-1 .blog-big .text h2{
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    padding: 30px 0 15px;
    color: #000;
}

.blog.type-1 .blog-big .text .info{
    color: #bdbdbd;
    font-size: 11px;
    margin-top: 20px;    
    font-weight: 500;
}

.blog.type-1.standart .blog-big .text h2 {
    padding: 10px 0 15px;
}

.blog.type-1.standart .blog-big .text .info {
    margin: 28px 0 3px;
    font-size: 12px;
}

.blogs a{
    display: inline-block;
}

#preloader {
    background-color:#fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    z-index: 1000;
    display:table;
    text-align: center;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  animation: spinner .6s linear infinite;
}


/*------------------------ 9 Clients ------------------------*/



/*------------------------ 10 Contact ------------------------*/

.form-inp {
    width: 100%;
    height: 45px;
    border: 0;
    color: #000;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.sitebtn-2{
    border: solid 2px #dfdfdf;
    background: none;
    font-size: 13px;
    padding: 9px 11px 8px;
    text-align: center;
    min-width: 140px;
    line-height: 21px;
    transition: all ease 0.3s;
    color:#000; 
}

.sitebtn-2:hover{
    background: #000;
    color: #fff;
    border-color: #000;
    transition: all ease 0.3s;
}  

 .contact.type-4 .contact-info{
    line-height: 36px;
    font-size: 14.5px;
    color: #414141;
}  
/*------------------------ 11 Footer ------------------------*/
.policy{
    display: flex;
    }
    .policy-font{
    font-size: 16px;
    font-weight: 300;
    margin-right: 15px;
}
.policy-font1{
    font-size: 15px;
    font-weight: 200;
}
/*------------------------ 12 Footer ------------------------*/

.footer {
    left: 0;
    bottom: 0;
    height:380px;
    width: 100%;
    background-color: black;
    color: orange;
    text-align: center;
    position: relative;
 }
 .footer a{
     color: rgb(190,190,190);
 }
 .footer a :hover{
    color: orange;
}
 .footer .footer-content{
  height: 340px;
  display: flex;
  text-align: left;
 }
 .footer .footer-content .footer-section{
  flex: 1;
  padding :25px;
  border: 0px solid white;
 }

 .footer .footer-bottom{
     background-color: black;
    color: rgb(190,190,190);
    height:30px;
    width: 100%;
    text-align: left;
    position: relative;
    bottom: 30px;
    padding-top: 20px;
 }
 ul li{
   color:rgb(190,190,190);
 }
 ul li:hover {
    color: orange;
    }
 .button1{
    background-color: orange;
    border: none;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  .button1:hover {background-color: #3e8e41}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 input{
     width: 200px;
 }
 .fa-facebook {
   color: white;
 }
 
 .fa-linkedin {
   color: white;
 }
 .fa-medium-m {
   color: white;
 }
 .contact
 {
     padding: 50px;
 }
 hr { 
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 0.1%;
 } 
 .carousel .carousel-control.right{ opacity:1 !important;color:black; background-image:none !important;filter:none !important;}
   
 .carousel .carousel-control.left{ opacity:1 !important;color:black; background-image:none !important;filter:none !important;}
.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #cac9c9;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel .carousel-indicators .active {
    background-color: black;
}

/*------------------------ 13 Responsive ------------------------*/


@media (max-width:991px) {
    
    .home.type-3{
    background: url(../images/index/Banner-M.jpg) bottom center;
    width: 100%;
    background-size: cover;
    }
    
    .about.type-1{
        margin-top: -60px !important;
    }
    
    .about.type-1 .about-image img{
        margin: 0 !important;
    }
    
    .about.type-1 .about-image{
        background: none;
        margin-top: 0px;
    }
    
    .about.type-1 .line{
        margin: 60px 0;
    }   
    
    p br { content: ' '; }
        
    .work-areas{
        margin:0;
        margin-bottom: 30px;
    }
    
    .contact.type-4 .form {
        margin: 80px 0;
    }
    
    .contact.type-4 .form .sitebtn-2 {
        margin-top: 30px;
    }
    
    .contact.type-4 .contact-map{
        margin-bottom: 60px;
    }
    
    .about.type-1.vertiqal .container{
         display: flex;
        flex-direction: column-reverse;
    }
    
    .about.type-1.vertiqal .line{
        display: none;
    }
    
    .contact-form textarea{
        margin-bottom: 30px;
    }
    
    .portfolio_filter.type-2 ul {
        margin: 0 auto;
        display: table;
    }

    
}



/* Tablet Version */

@media (max-width: 767px) {
  
    .about.type-1 .about-image img{
        margin: 0;
    }
    
    .blog.type-1.top_30.bottom_120{
        margin-top: 0;
    }
    
    h5 {
    font-size: 24px;
    line-height: 35px;
    }
    
    .col-md-8.col-md-offset-2.top_120{
        margin-top: 60px;
    }
    
    
    
}



/* Mobile Version */

@media (max-width: 576px) {
    
    .home-headline {
        padding: 0px 0 30px;
    }
        
    .work-areas {
        text-align: center;
    }
    
    .work-areas{
        margin: 60px 0;
    }
    
    .about.type-1.vertiqal.top_90{
        margin: 0;
    }
    
    .blog.type-1.standart.bottom_120{
        margin-bottom: 30px;
    }
    
    .portfolio.type-1 .isotope_items.top_60{
        margin-top: 15px;   
    }
    
    .portfolio.type-1.top_120{
        margin-top: 30px;
    }
    
     .portfolio.type-1.top_120{
        margin-top: 30px;
    }
    
    .about.type-1 .line {
        margin:0;
    }   
    
    .portfolio_filter.type-2 ul li {
        float: none;
        text-align: center;
        margin-bottom: 12px;
        margin-left: 0;
    }
    
    .portfolio_filter.type-2 ul{
        margin-top: 10px;
    }
        
    h5 {
    font-size: 20px;
    line-height: 29px;
}
    
}